body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.5rem;
}
.display-2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.5rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.125rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.88rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.52rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.36rem;
    font-size: calc( 1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0c607d !important;
  border-color: #0c607d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0c607d !important;
  border-color: #0c607d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #db0037 !important;
  border-color: #db0037 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #db0037 !important;
  border-color: #db0037 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #534d46 !important;
  border-color: #534d46 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #534d46 !important;
  border-color: #534d46 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000000 !important;
  background-color: #e0d40a !important;
  border-color: #e0d40a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #e0d40a !important;
  border-color: #e0d40a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #5c6e73 !important;
  border-color: #5c6e73 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #5c6e73 !important;
  border-color: #5c6e73 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #84774a !important;
  border-color: #84774a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #84774a !important;
  border-color: #84774a !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #149dcc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #0c607d !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff3366;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #db0037 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #82786e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #534d46 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f7ed4a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #e0d40a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #879a9f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5c6e73 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b1a374;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #84774a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #149dcc;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #149dcc !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #149dcc;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sztCe734Cf .navbar-dropdown {
  position: relative !important;
}
.cid-sztCe734Cf .navbar-dropdown {
  position: absolute !important;
}
.cid-sztCe734Cf .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sztCe734Cf .dropdown-menu {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}
.cid-sztCe734Cf .dropdown-item:hover,
.cid-sztCe734Cf .dropdown-item:focus {
  color: #149dcc !important;
}
.cid-sztCe734Cf .nav-dropdown .link {
  padding: 0 0em !important;
  margin: 0.667em 1em !important;
}
.cid-sztCe734Cf .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sztCe734Cf .nav-link {
  position: relative;
  padding: 0;
}
.cid-sztCe734Cf .container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.cid-sztCe734Cf .iconfont-wrapper {
  color: #0c5b47 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sztCe734Cf .dropdown-menu,
.cid-sztCe734Cf .navbar.opened {
  background: #ffffff !important;
}
.cid-sztCe734Cf .nav-item:focus,
.cid-sztCe734Cf .nav-link:focus {
  outline: none;
}
.cid-sztCe734Cf .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sztCe734Cf .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sztCe734Cf .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sztCe734Cf .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sztCe734Cf .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sztCe734Cf .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sztCe734Cf .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0);
}
.cid-sztCe734Cf .navbar.opened {
  transition: all 0.3s;
}
.cid-sztCe734Cf .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sztCe734Cf .navbar .navbar-logo img {
  width: auto;
}
.cid-sztCe734Cf .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sztCe734Cf .navbar.collapsed {
  justify-content: center;
}
.cid-sztCe734Cf .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sztCe734Cf .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sztCe734Cf .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-sztCe734Cf .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sztCe734Cf .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sztCe734Cf .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sztCe734Cf .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sztCe734Cf .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sztCe734Cf .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sztCe734Cf .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sztCe734Cf .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sztCe734Cf .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sztCe734Cf .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sztCe734Cf .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sztCe734Cf .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sztCe734Cf .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sztCe734Cf .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sztCe734Cf .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sztCe734Cf .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sztCe734Cf .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sztCe734Cf .navbar.navbar-short {
  min-height: 60px;
}
.cid-sztCe734Cf .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sztCe734Cf .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sztCe734Cf .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sztCe734Cf .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sztCe734Cf .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sztCe734Cf .dropdown-item.active,
.cid-sztCe734Cf .dropdown-item:active {
  background-color: transparent;
}
.cid-sztCe734Cf .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sztCe734Cf .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sztCe734Cf .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sztCe734Cf .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sztCe734Cf .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sztCe734Cf .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sztCe734Cf ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sztCe734Cf .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sztCe734Cf button.navbar-toggler {
  margin-bottom: 15px;
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sztCe734Cf button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #767676;
}
.cid-sztCe734Cf button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sztCe734Cf button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sztCe734Cf button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sztCe734Cf button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sztCe734Cf nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sztCe734Cf nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sztCe734Cf nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sztCe734Cf nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sztCe734Cf .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sztCe734Cf a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sztCe734Cf .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sztCe734Cf .navbar {
    height: 70px;
  }
  .cid-sztCe734Cf .navbar.opened {
    height: auto;
  }
  .cid-sztCe734Cf .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sztCe734Cf .line-animation {
  opacity: 0;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: all 0.2s ease-in-out;
}
.cid-sztCe734Cf .nav-link:hover .line-animation {
  opacity: 1;
}
.cid-sztCe734Cf a {
  display: inline;
  font-weight: bold;
}
.cid-sztCe734Cf img {
  display: inline;
  padding-right: 10px;
}
.cid-sztCe734Cf .dropdown-toggle:after {
  display: none;
}
.cid-sztCe734Cf .navbar .dropdown-item {
  display: block;
  border-radius: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.cid-sztCe734Cf .dropdown-item:hover {
  color: #879a9f !important;
}
@media (max-width: 990px) {
  .cid-sztCe734Cf .dropdown-menu {
    margin-top: 0px;
  }
}
.cid-rmHL5JVzuL {
  background-image: url("../../../assets/images/chaly-cocon-4-1280x853.jpg");
}
.cid-rmLdXTWFKW {
  padding-top: 180px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rmLdXTWFKW h3 {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: top left;
  width: fit-content;
  padding: 0;
  margin: 0;
  left: 1rem;
  top: -1rem;
}
.cid-rmLdXTWFKW h3:after {
  content: "";
  color: #333;
  width: 30px;
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #232323;
  margin-left: 10px;
}
.cid-rmLdXTWFKW .mbr-text,
.cid-rmLdXTWFKW .mbr-section-btn {
  color: #767676;
}
.cid-rmLdZjgwob {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rmLdZjgwob .card-img {
  background-color: #fff;
  overflow: hidden;
}
.cid-rmLdZjgwob .card-box {
  padding: 0rem;
  padding-top: 2rem;
}
.cid-rmLdZjgwob h4 {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(transparent calc(98%), currentColor 1px);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0% 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cid-rmLdZjgwob h3 {
  margin-bottom: 0;
  letter-spacing: 1px;
}
.cid-rmLdZjgwob p {
  text-align: left;
}
.cid-rmLdZjgwob img {
  transition: all 0.3s;
}
.cid-rmLdZjgwob .mbr-text {
  color: #1c1c1c;
}
.cid-rmLdZjgwob .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rmLdZjgwob .card-wrapper:hover h4 {
  background-size: 100% 100%;
}
.cid-rmLdZjgwob .card-wrapper:hover img {
  filter: blur(2px);
}
.cid-rmLdZjgwob .card {
  margin-bottom: 2.5rem;
}
@media (max-width: 992px) {
  .cid-rmLdZjgwob .card-columns {
    column-count: 2;
  }
}
@media (max-width: 767px) {
  .cid-rmLdZjgwob .card-columns {
    column-count: 1;
  }
}
@media (min-width: 1200px) {
  .cid-rmLdZjgwob .card-columns {
    column-gap: 4rem;
  }
}
.cid-rmLdZjgwob .card-title {
  color: #767676;
}
.cid-rmLejrMez1 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rmLejrMez1 .card-box {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: auto;
  height: fit-content;
  max-width: 400px;
}
.cid-rmLejrMez1 .card-wrap {
  display: flex;
  height: 100%;
  min-height: 300px;
}
.cid-rmLejrMez1 .card-wrap:hover h4 {
  background-size: 100% 100%;
}
.cid-rmLejrMez1 h3 {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: top left;
  width: fit-content;
  padding: 0;
  margin: 0;
  left: 0rem;
  top: -1rem;
}
.cid-rmLejrMez1 h3:after {
  content: "";
  color: #333;
  width: 30px;
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #1c1c1c;
  margin-left: 10px;
}
.cid-rmLejrMez1 img {
  width: 100%;
}
.cid-rmLejrMez1 h4 {
  display: inline!important;
  text-decoration: none;
  background-image: linear-gradient(transparent calc(98%), currentColor 1px);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0% 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cid-rmLejrMez1 .card-title1,
.cid-rmLejrMez1 .title-wrap1 {
  color: #ffffff;
}
.cid-rmLejrMez1 .card-title,
.cid-rmLejrMez1 .title-wrap {
  color: #1c1c1c;
}
@media (max-width: 992px) {
  .cid-rmLejrMez1 .card-box {
    margin: auto auto 0 0;
  }
}
@media (max-width: 767px) {
  .cid-rmLejrMez1 .mdpb {
    padding-bottom: 10rem;
  }
}
.cid-rmLejrMez1 H3 {
  color: #1c1c1c;
}
.cid-rmLejrMez1 .mbr-text,
.cid-rmLejrMez1 .mbr-section-btn {
  color: #1c1c1c;
}
.cid-rmLei3Osqc {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rmLei3Osqc h3 {
  position: relative;
  margin-top: 2rem;
  letter-spacing: 2px;
}
.cid-rmLei3Osqc h3:after {
  content: "";
  color: #333;
  transition: all 0.3s;
  width: 30px;
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #1c1c1c;
  margin-left: 10px;
}
.cid-rmLei3Osqc h3:hover:after {
  margin-left: -15px;
}
.cid-rmLei3Osqc .mbr-text,
.cid-rmLei3Osqc .mbr-section-btn {
  color: #353535;
}
.cid-rmLei3Osqc img {
  width: 100%;
}
.cid-rmLei3Osqc .col1 {
  margin: auto;
  max-width: 500px;
  padding: 2rem 1rem;
}
.cid-rmLfpEQDG0 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-rmLfpEQDG0 [class^="socicon-"]:before,
.cid-rmLfpEQDG0 [class*=" socicon-"]:before {
  line-height: 44px;
}
.cid-rmLfpEQDG0 .social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-rmLfpEQDG0 .btn-social,
.cid-rmLfpEQDG0 .mbr-section-title {
  color: #57468b;
}
.cid-rmLfpEQDG0 .soc-item {
  width: 45px;
  height: 45px;
  background: #232323;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.3rem;
}
.cid-rmLfpEQDG0 .soc-item span {
  font-size: 1.2rem;
  color: #ffffff !important;
  transition: all 0.3s;
}
.cid-rmLfpEQDG0 .soc-item:hover span {
  color: #767676 !important;
}
.cid-rmHq6wCrpg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
